#books_browser
{
    padding-top: 2em;

}
.books_browser_option
{
    display: none;
}
option:
{
    text-align: center;
}
#books_input
{
    align: center;
    width: 40em;
    height: 3em;
}
.books_browser_text
{
    text-align: center;
}
.books_browser_paragraph p
{
        margin: 1em 0em;
        text-align: center;
        font-size:1.2em;
	font-weight:400;
	font-family:Georgia;
	color:#606060;
	font-style: italic;
}
.form-control-custom {
    
}


