/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
#roundbanner {

    margin: auto;
    border-radius: 25px;
    background: rgba(176, 127, 97, 0.5);
    height: 18em;
    width: 60em;

}

h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
body{
    background: rgba(176, 127, 97, 0.5);
    font-family: 'Lato', sans-serif;
    font-size:100%;
}
/*--- Header Part Starts Here --*/
.header{
    margin-top:2em;
}
.navigation{
    float:left;
    width:60%;
}
.navigation-bar {
    padding-bottom:1em;
    border-bottom:1px solid rgba(2, 1, 1, 0.28);
}
.logo{
    float:left;
    width:15%
}
.logo a{
    text-decoration:none;
    background:#222222;
    padding:10px;
    font-weight:400;
    font-size:1em;
    color:#fff;
}
.navig{
    float:left;
    width:70%;
}
.navig ul li{
    display: inline-block;
    margin:0 15px;
}
.navig ul li a{
    text-decoration:none;
    font-size:1em;
    font-weight:400;
    color:#303030;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -o-transition:0.5s all;
    -moz-transition:0.5s all;
    -ms-transition:0.5s all;
}
.navig ul li a:hover, ul.user li a:hover{
    zoom:1;
    color:#f68236;
}
.navigation-right{
    float:right;
}
ul.user{
    padding:0
}
ul.user li{
    display: inline-block;
    margin:0 10px;
    vertical-align:bottom;
}
ul.user li span{
    width:22px;
    height:22px;
    background:url(../images/user-icons.png)no-repeat 0px 0px;
    display: inline-block;
}
ul.user li span.bascket{
    background:url(../images/user-icons.png)no-repeat -20px 0px;
    margin-right: 3px;
}
ul.user li a{
    text-decoration:none;
    font-size:1em;
    font-weight:400;
    color:#303030;
    vertical-align: top;
    -webkit-transition:0.5s all;
    -o-transition:0.5s all;
    -moz-transition:0.5s all;
    -ms-transition:0.5s all;
}
ul.user li button{
    padding:15px;
    border:1px solid #222222;
    cursor: pointer;
    background:url(../images/search.png)no-repeat 7px 7px;
    outline: none;
}
.content{
    background:#fff;
    padding:0 2em 1em;
    margin-bottom:3em;
}
button.search{
    position:relative;
}
button.search:hover div.serch{
}
/*-- search Box --*/
.serch{
    display: none;
    padding:1em 0.6em 0.6em;
    text-align: right;
    background:#fff;
    width:243;
    float:right;
    position:absolute;
    top: 85%;
    right: 2.8%;
}
.serch span{
    display: inline-block;
}
.serch span input[type="text"]{
    padding:5px;
    border:1px solid;
    display: inline-block;
    outline:none;
}
.serch span input[type="submit"]{
    display: inline-block;
    padding:5px 15px; 
    background: url(../images/search.png)no-repeat 7px 10px;
    outline: none;
    border:1px solid;
    vertical-align: bottom;
}
/*-- search Box --*/
/*--- Header Part Ends Here --*/
/*-- Banner part Starts Here ---*/
.banner{
    min-height:550px;
    text-align:center;
    padding:4em 0 0;
    background:url(../images/banner.png)no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    margin-bottom: 1em;
}
.banner h1{
    font-size:4.5em;
    color:#fff;
    font-weight:400;
    text-transform:uppercase;
    margin:2em 0 0em;
}
.banner small{
    font-size:1.5em;
    color:rgba(255, 255, 255, 0.56);
    font-weight:400;
    font-style: italic;
    font-family: Georgia;
}
.ban-btn{
    margin:4em 0 0;
}
.ban-btn a{
    font-size:1em;
    text-transform:uppercase;
    font-weight:400;
    border:1px solid rgba(242, 239, 239, 0.78);
    padding:15px 15px;
    color:#fff;
    text-decoration:none;
}
.ban-btn a:hover{
    color: #000;
    border:1px solid #000;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -o-transition:0.5s all;
    -moz-transition:0.5s all;
    -ms-transition:0.5s all;
}
/*-- Banner part Ends Here ---*/
/*--- gallery Part Starts here ---*/
.gallery{
    min-height:800px;
}
.gallery-row{}
.gallery-grid{

    width:25%;
    float:left;
}
.gallery-grid1{

    width:50%;
    float:left;
}
.grid-top{
    height: 20%;
    width:100%;
}
.grid-bot{
    width:100%;
}
.grid1-row1{

    background:yellow;
}
.grid1-row2{
    background:red;
}
.g1-r2{

    width:100%;
}
.twit{
    width:50%;
    float:left;
}
.g-twit{
    background:#bbbbbb;
}
.gallery img{
    width:100%;
}
span.line{
    width:20px;
    height:2px;
    background:#fff;
    display: inline-block;
    vertical-align: text-top;
    margin:0 3px;
}
i.twit-icon{
    width:32px;
    height:32px;
    background:url(../images/twit-icon.png)no-repeat;
    display: inline-block;
}
.t-wit{
    background:#bbbbbb;
    text-align:center;
    padding:4em 2em 2em;
    min-height:269px;
}
.t-wit p{
    font-size:0.9em;
    font-family:Georgia;
    margin:0.5em 0;
    color:#fff;
}
.t-wit small{
    font-size:1em;
    color:#fff;
    font-weight:bold;
}
.t-hat{
    min-height:269px;
    text-align:center;
    background:#606060;
    padding:6em 2em 0;
}
i.aarow{
    width:32px;
    height:32px;
    background:url(../images/aarow.png)no-repeat;
    display:inline-block;
}
.t-hat p{
    font-weight:bold;
    font-size:1.5em;
    color:#fff;
    text-transform:uppercase;
    margin:0;
}
.t-hat small{
    font-weight:400;
    font-size:1em;
    color:rgba(253, 252, 252, 0.63);
    text-transform:uppercase;
    font-style: italic;
    font-family: georgia;
}
.img-pos{
    position:relative;
    cursor: pointer;
}
.img-caption{
    position:absolute;
    top:0%;
    left:0%;
    text-align:center;
    width:100%;
    height:100%;
    background:rgba(246, 130, 54, 0.64);
    padding-top:15em;
    display: none;
}
.img-pos:hover div.img-caption{
    display: block;
    cursor: pointer;
    transition:background 2s ease-out;
    -webkit-transition:background 2s ease-out;
    -o-transition:2s ease-out;
    -moz-transition:2s ease-out;
    -ms-transition:2s ease-out;
}
.jk-t{
    left:0%;
    padding-top:7em;
}
.img-caption p{
    font-size:1.5em;
    text-transform:uppercase;
    font-weight:bold;
    padding:0;
    color:#fff;
    margin:0;
}
.img-caption small{
    font-size: 1em;
    text-transform:uppercase;
    font-weight:400;
    font-family:Georgia;
    font-style:italic;
    color:#fff;
}
/*--- gallery Part Ends here ---*/
/*-- Subscribe part Starts here --*/
.subscribe{
    margin:7em 0 3em;
    text-align: center;
}
.subscribe h3{
    font-size:2em;
    text-transform:uppercase;
    color:#303030;
    margin:0;
    font-weight:600;
}
.subscribe p{
    font-size:1.2em;
    font-family:Georgia;
    color:rgba(48, 48, 48, 0.69);
    font-style: italic;
    margin-bottom:1em;
}
.sub-bar{
    padding-bottom:3em;
}
.sub-bar span{
    display: inline-block;
    width:50%;
    background:#f68236;
}
.sub-bar span input[type="text"]{
    display: inline-block;
    outline: none;
    padding: 15px 10px;
    width: 83.381%;
    border: 1px solid;
    border-right:0px;
    -webkit-appearance:none;
}
.sub-bar span input[type="submit"]{
    border: 0;
    padding: 15px 30px;
    background: #f68236;
    color: #fff;
    outline: none;
    -webkit-appearance:none;
    cursor: pointer;
}
/*-- Subscribe part Ends here --*/
/*--- Partner Part Starts here ---*/
.partner{
    margin-top: 3em;
    background: rgba(176, 127, 97, 0.5);
}
#flexiselDemo3 {
    display: none;
}
.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
    margin-bottom:3em;
}
.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}
.nbs-flexisel-inner {
    overflow: hidden;
    width:90%;
    margin: 0 auto;
    padding:2em 0;
}
.nbs-flexisel-item {
    float: left;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    position: relative;
    line-height: 0px;
}
.nbs-flexisel-item > img {
    cursor: pointer;
    positon: relative;
    max-width:200px;
    max-height:120px;
}
/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 80px;
    height: 128px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    margin:2em 0;
}
.flexy .nbs-flexisel-nav-left, .flexy .nbs-flexisel-nav-right{
    margin:0 !important;
}
.nbs-flexisel-nav-left {
    left: 0px;
    background: url(../images/slide-arw.png) no-repeat 0px 0px;
}
.nbs-flexisel-nav-right {
    right: 0px;
    background: url(../images/slide-arw.png) no-repeat -48px 0px;
}
/*-- Partner Part Ends Here --*/
/*-- Footer Part Starts Here --*/
.footer{}
.footer-row{}
h3.ft-title{
    font-size:1em;
    text-transform:uppercase;
    color:#303030;
    margin-bottom:1em;
    font-weight:600;
    letter-spacing: 1px;
}
.footer-col{
    border-right: 1px solid rgba(48, 48, 48, 0.33);
    min-height:174px;
}
ul.ft-list{
    padding:0;
}
ul.ft-list li{
    display:block;
}
ul.ft-list li a{
    font-size:0.85em;
    color:#303030;
    font-weight:400;
}
ul.list-h li a{
    text-decoration:none;
}
ul.list-h li a:hover{
    color:#f68236;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -ms-transition:0.5s all;
    -o-transition:0.5s all;
}
.foot-cl p{
    font-size:0.85em;
    color:#303030;
    font-weight:400;
}
.foot-cl p a{
    text-decoration:none;
    color:#f68236;
}
.foot-cl p a:hover{
    color:#303030;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -ms-transition:0.5s all;
    -o-transition:0.5s all;
}
ul.social{
    padding:0;
}
ul.social li{
    display: inline-block;
}
ul.social li i{
    width:37px;
    height:37px;
    background:url(../images/social-icons.png)no-repeat;
    display: inline-block;
    cursor:pointer;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -ms-transition:0.5s all;
    -o-transition:0.5s all;
}
ul.social li i.fa{
    background-position:-2px 0px;
}
ul.social li i.tw{
    background-position:-48px 0px;
}
ul.social li i.is{
    background-position:-95px 0px;
}
ul.social li i.fa:hover{
    background-position:-2px -40px;
}
ul.social li i.tw:hover{
    background-position:-48px -40px;
}
ul.social li i.is:hover{
    background-position:-95px -40px;
}

/*-- Footer Part Ends Here --*/
/*-- Men Page Starts Here --*/
.pag-nav{
    padding:1em 0;
}
ul.p-list{
    padding:0;
}
ul.p-list li{
    display:inline-block;
}
ul.p-list li a{
    color:#303030;
    font-size:0.8em;
    text-transform:uppercase;
    font-weight:400;
    text-decoration:none;
}
ul.p-list li.act {
    color:#f68236;
    font-size:0.8em;
    text-transform:uppercase;
    font-weight:400;
    text-decoration:none;
}
ul.p-list li a:hover{
    color:#f68236;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -ms-transition:0.5s all;
    -o-transition:0.5s all;
}
.coats{
    margin-top:3em;
    text-align:center;
}
h3.c-head{
    font-size:2em;
    text-transform:uppercase;
    color: #303030;
    font-weight:600;
    margin:0;
}
.coats small a{
    font-size:1em;
    font-weight:400;
    font-family:Georgia;
    color:#606060;
    font-style: italic;
    background:url(../images/show.png)no-repeat right;
    padding-right:10px;
    cursor: pointer;
    text-decoration: none;
}
.coats small a:hover{
    border-bottom:2px solid #606060;
}
.coat-row{
    padding:3em 0 2em;
}
.coat-column{
    width:22%;
    float:left;
    margin-right:4%;
    position:relative;
}
.coat-column1{
    width:22%;
    float:right;
    position:relative;
}
.prod-desc{
    text-align:center;
}
.prod-desc h4{
    font-size:1em;
    font-weight:600;
    color:#303030;
    margin:0;
}
.prod-desc small{
    font-size:0.85em;
    font-weight:400;
    color:#606060;
}
.coat-column a, .coat-column1 a{
    text-decoration:none;
}
.coat-column a img, .coat-column1 a img{
}
.coat-column:hover .mask, .coat-column1:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.coat-column .mask, .coat-column1 .mask{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: rgba(219,127,8, 0.7);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.82);
    -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    color: #000;
    font-size: 0.85em;
    font-weight: bold;
}
.coat-column .mask, .coat-column1 .mask{
    position:absolute;
    top:35%;
    left:35%;
    cursor: pointer;
}
.look{
    border-top:1px solid #606060;
    margin:2em 0;
    text-align:center;
    padding:2em 0 1em;
}
.look h3{
    font-size:1.5em;
    font-weight:400;
    font-family: Georgia;
    color:#606060;
    font-style: italic;
}
/*-- Men Page Ends Here --*/
/*-- About Starts Here --*/
.coats p{
    font-size:1.2em;
    font-weight:400;
    font-family:Georgia;
    color:#606060;
    font-style: italic;
}
p.article{
    font-size:0.875em;
    font-weight:400;
    color:rgba(96, 96, 96, 0.55);
    font-style: italic;
    font-family: 'Lato', sans-serif;
}
.about-col img{
    width:100%;
    margin-bottom:1em;
}
.about-row{
    padding:2em 0;
}
.who{}
.who h3{
    font-size:1.5em;
    color:#303030;
    font-weight: 600;
    margin-bottom:0.5em;
    text-transform:uppercase;
}
.who p{
    font-size:14px;
    line-height:1.8em;
    margin-bottom:1em;
}
/*--- Responsive Tabs ---*/
/******** SAP ************/
.sap_tabs{
    clear:both;
    padding: 1em 0 4em;
    font-family: 'Roboto', sans-serif;
}
.facts {
    border: 1px solid #E6E6E6;
}
.top1{
    margin-top: 2%;
}
.resp-tabs-list {
    width: 100%;
    list-style: none;
    padding: 0;
}
.resp-tab-item:first-child{
    border-left:none;
}
.resp-tab-item{
    color: #777;
    font-size: 0.8125em;
    cursor: pointer;
    padding: 12px 10px;
    display: inline-block;
    margin: 0;
    text-align: center;
    list-style: none;
    float: left;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
}
.resp-tab-item:hover {
    text-shadow: none;
    color: #f68236;
}
.resp-tab-active{
    background:#ee4a02;
    text-shadow: none;
    color:#fff;
}
.resp-tabs-container {
    padding: 0px;
    clear: left;
}
h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}
.resp-tab-content {
    display: none;
}
.resp-content-active, .resp-accordion-active {
    display: block;
}
h2.resp-accordion {
    font-size:1em;
    margin: 0px;
    padding: 10px 15px;
    background:#f77462;
    margin:10px 0;
    color:#fff;
}
h2.resp-accordion:hover{
    background:#6CC5D9;
    text-shadow: none;
    color: #FFF;
}
@media only screen and (max-width:480px) {
    .sap_tabs{
        padding-top:0;
    }
    .resp-tabs-container{
        padding:10px;
    }
    ul.resp-tabs-list {
        display: none;
    }
    h2.resp-accordion {
        display: block;
    }
    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }
    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display: none !important;
    }
}
ul.tab_list{
    list-style: none;
    padding:1em;
}
ul.tab_list li {
    margin-bottom: 10px;
}
ul.tab_list li a {
    color: #888;
    font-size: 0.8125em;
    line-height: 1.8em;
    vertical-align: top;
    text-decoration: none;
}
ul.tab_list li a:hover {
    color:#333;
}
/*--- Responsive Tabs ---*/
/*--- Contact Page starts --*/
.contact-box {
    width: 60%;
    margin: 3em auto 5em;
}
.login-box{
    margin-bottom:2em;
}
.form small, .form-t small, .form-y small {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 400;
    color: #606060;
    margin-bottom:0.5em;
}
.text select {
    width: 100%;
    padding: 10px;
    outline:none;
    border:1px solid #f68236;
}
.form {
    margin: 0em 0 2em;
}
.form-t {
    float: left;
    width: 49%;
    margin-bottom:2em;
}
.form-y{
    float:right;
    width:49%;
    margin-bottom:2em;
}
.text input[type="text"], .text input[type="password"]{
    width:100%;
    padding:10px;
    outline:none;
    -webkit-appearance:none;
    border:1px solid #f68236;
}
.text textarea{
    width:100%;
    resize:none;
    height:200px;
    padding:10px;
    outline:none;
    border:1px solid #f68236;
}
.text{
    margin-top:0.5em;
    text-align:center;
}
.text input[type="submit"]{
    font-size:0.8em;
    color:#fff;
    border:0px;
    background:#f68236;
    padding:15px 30px;
    text-align:center;
    outline:none;
    text-transform:uppercase;
    -webkit-appearance: none;
    cursor: pointer;
}
.text input[type="submit"]:hover,.reg a:hover{
    background:#606060;
    -webkit-transition:0.5s all;
    -o-transition:0.5s all;
    -moz-transition:0.5s all;
    -ms-transition:0.5s all;
}
.text a:hover{
    color:#f68236;
    -webkit-transition:0.5s all;
    -o-transition:0.5s all;
    -moz-transition:0.5s all;
    -ms-transition:0.5s all;
}
.reg{
    margin:2em 0;
}
.reg a{
    font-size:0.8em;
    color:#fff;
    border:0px;
    background:#f68236;
    padding:15px 30px;
    text-align:center;
    outline:none;
    text-transform:uppercase;
    text-decoration:none;
}
.text a{
    font-size:0.8em;
    color:#fff;
    border:0px;
    color:#606060;
    text-decoration:none;
    text-transform:capitalize;
    font-family: Georgia;
    font-weight:400;
    font-style: italic;
}
.login-bot{
    margin-bottom:5em;
}
/*--- Contact Page Ends --*/
/*-- Register Page Starts --*/
.register{
    padding:2em 0;
    font-family: 'Roboto', sans-serif;
}
.register-top-grid h3, .register-bottom-grid h3 {
    color:#FF5B36;
    font-size: 1em;
    padding-bottom: 5px;
    margin: 0;
}
.register-top-grid div, .register-bottom-grid div {
    width: 48%;
    float: left;
    margin: 10px 0;
}
.register-top-grid span, .register-bottom-grid span {
    color:#555;
    font-size: 0.8125em;
    padding-bottom: 0.2em;
    display: block;
    text-transform: uppercase;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="password"]{
    border:1px solid #f68236;
    outline:none;
    width: 96%;
    font-size: 1em;
    padding: 0.5em;
}
.checkbox {
    margin-bottom: 4px;
    padding-left: 27px;
    font-size: 1.1em;
    line-height: 27px;
    cursor: pointer;
}
.checkbox {
    float: left;
    position: relative;
    font-size: 0.85em;
    color:#555;
}
.checkbox:last-child {
    margin-bottom: 0;
}
.news-letter {
    color: #555;
    font-weight:600;
    font-size: 0.85em;
    margin-bottom: 1em;
    display: block;
    text-transform: uppercase;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    clear: both;
}
.checkbox i {
    position: absolute;
    bottom: 5px;
    left: 0;
    display: block;
    width:20px;
    height:20px;
    outline: none;
    border: 2px solid #D2CF99;
}
.checkbox input + i:after {
    content: '';
    background: url("../images/tick1.png") no-repeat 1px 2px;
    top: -1px;
    left: -1px;
    width: 15px;
    height: 15px;
    font: normal 12px/16px FontAwesome;
    text-align: center;
}
.checkbox input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}
.checkbox input {
    position: absolute;
    left: -9999px;
}
.checkbox input:checked + i:after {
    opacity: 1;
}
.news-letter:hover {
    color:#00BFF0;
}
.register-but{
    margin-top:1em;
}
.register-but form input[type="submit"] {
    background:#fb4d01;
    color: #FFF;
    font-size: 0.8em;
    padding: 0.8em 2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    text-transform: uppercase;
    border:none;
    outline:none;
}
.register-but input[type="submit"]:hover {
    background:#606060;
}
div.register-bottom-grid {
    margin-top:3em;
}
/*-- Register Page Ends ---*/
/*-- single page starts ---*/
p.art{
    font-size:0.8em;
    font-weight:400;
    color: rgba(96, 96, 96, 0.77);
    margin: 0.5em 0;
    line-height: 1.8em;
    font-style: normal;
    letter-spacing: 1px;
}
.size{
    margin:1em 0;
}
.size small{
    font-size:0.9em;
    text-transform: uppercase;
    font-weight:bold;
}
ul.size-list{
    padding:0;
    margin:1em 0;
}
ul.size-list li{
    display:inline-block;
    margin:0 5px;
}
ul.size-list li a{
    padding:5px;
    border:1px solid #606060;
    font-size:0.8em;
    text-decoration:none;
}
ul.size-list li a:hover{
    color:#fb4d01;
    border:1px solid #fb4d01;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.sing-c{
    margin-bottom:5em;
}
.sing-c p a{
    color:#fb4d01;
    text-decoration:none;
}
/*-- single page Ends ---*/
/*-- Media Queries Starts here --*/
@media (max-width:1024px){
    .navig {
        width: 84%;
    }
    .banner {
        padding: 1em 0 0;
        min-height: 430px;
    }
    .banner h1 {
        font-size: 4em;
    }
    .t-wit {
        padding: 1em 1em 1em;
        min-height: 219px;
    }
    .img-caption {
        padding-top: 10em;
    }
    .grid1-row1 {
        height: 437px;
    }
    .t-hat {
        min-height: 219px;
    }
    .jk-t {
        padding-top: 5em!important;
    }
    img.img-responsive.respon {
        height: 100%;
        width: 98%;
    }
    .gallery {
        min-height: 639px;
    }
    .sub-bar span input[type="text"] {
        width: 79.381%;
    }
}
@media (max-width:768px){
    span.menu{
        width:32px;
        height:32px;
        background:url(../images/nav.png)no-repeat;
        display:block;
        float:right;
        cursor: pointer;
    }
    .navig{
        float:none;
        display: none;
        width:100%;
        margin-top:2em;
        background:#fff;
        text-align:center;
    }
    .navig ul li{
        display: block;
    }
    .demo_container {
        background: #fff!important;
    }
    .logo {
        margin-top: 4px;
    }
    #sticky_navigation {
        height: none;
    }
    .banner h1 {
        font-size: 3em;
    }
    .banner small {
        font-size: 1.3em;
    }
    .ban-btn {
        margin: 3em 0 0;
    }
    .banner {
        padding: 1em 0 0;
        min-height: 337px;
    }
    .t-wit p {
        font-size: 0.75em;
        display: none;
    }
    .t-wit {
        padding: 2.5em 0.5em 0; 
        min-height: 164px;
    }
    .g1-r2 {
        height: 164px;
    }
    .jk-t {
        padding-top: 2em!important;
    }
    .grid1-row1 {
        height: 324px;
    }
    .t-hat {
        min-height: 164px;
        padding: 1em 1em 0;
    }
    .t-hat p {
        font-size: 1.3em;
    }
    img.img-responsive.respon {

        width: 100%;
    }
    .gallery {
        min-height: 468px;
    }
    .subscribe {
        margin: 4em 0 3em;
    }
    .sub-bar span input[type="text"] {
        width: 72.381%;
        padding:10px 10px;
    }
    .sub-bar span input[type="submit"] {
        padding: 10px 30px;
    }
    .subscribe h3 {
        font-size: 1.5em;
    }
    .sub-bar {
        padding-bottom: 1em;
    }
    .subscribe p {
        font-size: 0.875em;

    }
    .footer-col {
        border-bottom: 1px solid rgba(48, 48, 48, 0.33);
        min-height: 156px;
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-right:0px;
    }
}
@media (max-width:640px){
    .container{
        margin:0 10px;
        background:#fff;
    }
    .navigation {
        width: 100%;
        margin-bottom:1em;
    }
    .navigation-right {
        float: none;
    }
    ul.user {
        text-align: center;
    }
    .banner h1 {
        font-size: 2em;
        margin:1em 0 0;
    }
    .banner small {
        font-size: 1.1em;
    }
    .banner {
        padding: 1em 0 0;
        min-height: 230px;
    }
    .t-wit {
        padding: 2em 0.5em 0;
        min-height: 127px;
    }
    .g1-r2 {
        height: 126px;
    }
    .t-wit small {
        font-size: 0.85em;
    }
    .img-caption p {
        font-size: 1em;
    }
    .grid1-row1 {
        height: 249px;
    }
    .t-hat p {
        font-size: 1em;
    }
    .t-hat {
        min-height: 127px;
    }
    .img-caption {
        padding-top: 5em !important;
    }
    img.img-responsive.respon {
        width: 92%;
    }
    .img-pos {
        background: #959998;
    }
    .gallery {
        min-height: 364px;
    }
    .sub-bar span input[type="text"] {
        width: 80.381%;
        padding: 10px 10px;
    }
    .sub-bar span input[type="submit"] {
        padding: 10px 10px;
    }
    .subscribe h3 {
        font-size: 1.3em;
    }
    .jk-t {
        padding-top: 2em!important;
    }
    .subscribe {
        margin: 2em 0 2em;
    }
    .coats {
        margin-top: 0em;
        text-align: center;
    }
    .coat-column {
        width: 47%;
        margin-right: 3%;
        margin-bottom: 2em;
    }
    .coat-column1 {
        width: 47%;
        margin-right:3%;
    }
    .contact-box {
        width: 75%;
    }
}
@media (max-width:480px){
    .banner h1 {
        font-size: 1.5em;
    }
    .banner small {
        font-size: 1em;
    }
    .ban-btn a{
        font-size:0.75em;
        padding:5px;
    }
    .ban-btn {
        margin: 1em 0 0;
    }
    .banner {
        padding: 1em 0 0;
        min-height: 204px;
    }
    .gallery-grid {
        width: 100%;
        margin-bottom:10px;
    }
    .gallery-grid1 {
        width: 100%;
        margin-bottom:10px;
    }
    .t-wit {
        padding: 2em 0.5em 0;
        min-height: 175px;
    }
    .t-hat {
        min-height: 175px;
    }
    .img-caption {
        padding-top: 10em !important;
    }
    .jk-t {
        padding-top: 4em!important;
    }
    .sub-bar span {
        display: inline-block;
        width: 74%;
    }
    h3.c-head {
        font-size: 1.3em;
    }
    .coats small a {
        font-size: 0.75em;
    }
}
@media (max-width:320px){
    ul.user li {
        margin: 0 3px;
    }
    .banner h1 {
        font-size: 1em;
    }
    .banner small {
        font-size: 0.75em;
    }
    .banner {
        padding: 1em 0 0;
        min-height: 167px;
    }
    .content {
        padding: 0 0em 1em;
    }
    .t-wit {
        padding: 2em 0.5em 0;
        min-height: 127px;
    }
    .img-caption p {
        font-size: 0.75em;
    }
    .img-caption {
        padding-top: 6em !important;
    }
    .jk-t {
        padding-top: 3em!important;
    }
    .t-hat p {
        font-size: 0.85em;
    }
    .t-hat small {
        font-size: 0.75em;
    }
    .t-hat {
        min-height: 127px;
    }
    .sub-bar span input[type="text"] {
        width: 73.381%
    }
    .subscribe h3 {
        font-size: 0.875em;
    }
    .subscribe p {
        font-size: 0.75em;
    }
    .coat-column .mask, .coat-column1 .mask {
        top: 22%;
        left: 23%;
    }
}
/*-- Media Queries Ends here --*/
.book_view
{
    width: 100%;
    height: 20%;
}
.book_image
{
    float: left;
    height: 500px;
    width: 319px;
}

.book_description 
{
    width: 757px;
    height: 500px;
    float: left;
    font-size: 3em;

}
.rating_star
{
    float: left;
    padding-left: 2em;
    width: 100%;
    text-align: center;
}
.rating_star h1
{
  padding-top: 0.3em;
  padding-left: 1em;
}
.book_description p
{
    padding-left: 1em;
    font-size: 0.4em;
    text-align: left;
}
.book_description h2
{
    padding: 0.5em 2em;
    width: 100%;
    height: 11.2em;
}
.comment
{   
    padding-top: 1em;
    float: left;
    width: 100%;
}
.star-rating {
    line-height:32px;
    font-size:1.25em;
    cursor: pointer;
}
.yellow_star {
  float: left;
  color: orange;
}
.black_star {
  float: left;
}
.book_rate
{
    text-align: center;
}

